.discount {
  background-color: cornflowerblue;
  color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(10px); */
}
.HomeImg {
  height: 400px;
  background-image: url(../public/images/onlinebook.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.App {
  text-align: center;
}
