<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body style="text-align: center;">
    <%-include('menu.html')%>
        <h2>ํ์๋๋ค.๐</h2>
        <% if(user) {%>
            <marquee behavior="" direction="">
                <%=user.userId%>๋ ๋ฐ๊ฐ์ต๋๋ค.
            </marquee>

            <a href="/logout">๋ก๊ทธ์์</a>
            <% } else{%>

                <p></p>
                <h3>๋ก๊ทธ์ธ ํด์ฃผ์ธ์.</h3>
                <button class="btn btn-warning login w-50"><b>๋ก๊ทธ์ธ</b></button>
                <p></p>
                <button class="btn btn-warning signup w-50"><b>ํ์๊ฐ์</b></button>
                <%} %>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                        crossorigin="anonymous"></script>

                    <!-- ์์ด์ฟผ๋ฆฌ cdn -->
                    <script src="https://code.jquery.com/jquery-1.12.4.min.js">
                    </script>
                    <script>

                        $('.login').click(function (e) {
                            console.log("๋ก๊ทธ์ธ ๋ฒํผ๋๋ฆ")
                            location.href = '/login'
                        })
                        $('.signup').click(function (e) {
                            console.log("๋ก๊ทธ์์ ๋ฒํผ๋๋ฆ")
                            location.href = '/signup'
                        })
                    </script>
</body>

</html>